net clk_i	 loc=p43;       # 12 MHz clock from pic  
net rd_o      loc=p50;       # CHAN3
//net cs_o         loc=p52;       # CHAN4
net conv_clk_o   loc=p56;       # CHAN5
#net uclk_i       loc=p44;       # CHAN-CLK: 60MHz USB Fifo clock
#net txen_i       loc=p68;       # CHAN9: TXE#
#net wr_o         loc=p37;       # CHAN1: WR#
#net oe_o         loc=p12;       # CHAN23: OE#
#net pwren_i      loc=p13;       # CHAN22: PWREN#
#net cs_o[7]   loc=p73;       # CHAN11
#net cs_o[6]   loc=p72;       # CHAN10
#net cs_o[5]   loc=p62;       # CHAN8
#net cs_o[4]   loc=p61;       # CHAN7
#net cs_o[3]   loc=p57;       # CHAN6
#net cs_o[2]   loc=p56;       # CHAN5
#net cs_o[1]   loc=p52;       # CHAN4
#net cs_o[0]   loc=p50;       # CHAN3
