net clk_i	         loc=p184;       # 12 MHz clock from pic  

//AD7606 Signals
net daq_conv_clk_o   loc=p74; #CONVST
//net blink_o				loc=p18;
net daq_reset_o 		loc=p69;#loc=p30;
net daq_stdby_o 		loc=p75; #DASSTBY
net daq_busy_i 		loc=p115;#BSY1

net daq_os_sel_o[0]  loc=p78; #OS0
net daq_os_sel_o[1]  loc=p77; #OS1
net daq_os_sel_o[2]  loc=p76; #OS2

net daq_rd_o			loc=p68; #DASRD

net daq_cs_o[0]		loc=p116;#DASCS1



# Testpoints
net daq_busy_tp 		loc=p30;  #USR20
net daq_conv_clk_tp  loc=p40;  #GPIO70
net daq_rd_tp		loc=p28;	 #GPIO75
net daq_rd_en_tp	loc=p18;  #USR11
net tp		loc=p19; #USR12



#net uclk_i       loc=p44;       # CHAN-CLK: 60MHz USB Fifo clock
#net txen_i       loc=p68;       # CHAN9: TXE#
#net wr_o         loc=p37;       # CHAN1: WR#
#net oe_o         loc=p12;       # CHAN23: OE#
#net pwren_i      loc=p13;       # CHAN22: PWREN#
#net cs_o[7]   loc=p73;       # CHAN11
#net cs_o[6]   loc=p72;       # CHAN10
#net cs_o[5]   loc=p62;       # CHAN8
#net cs_o[4]   loc=p61;       # CHAN7
#net cs_o[3]   loc=p57;       # CHAN6
#net cs_o[2]   loc=p56;       # CHAN5
#net cs_o[1]   loc=p52;       # CHAN4
#net cs_o[0]   loc=p50;       # CHAN3
